<div class="container">
  <div class="row">

    <div class="col-xs-4">
        <div class="panel panel-default">
          <div class="panel-body">
              <%= @user.name %></BR>
              <%= @user.email %>
          </div>
      </div>
    </div>

  <div class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1>RESERVATIONS</h1>
        <%= current_user.reservations %>
      </div>
  </div>
</div>


<div class="col-xs-4">
  <div class="panel panel-default">
    <div class="panel-body">
      RESTAURANTS
    </div>
</div>
</div>



  </div>
</div>
