<h1>Restaurants</h1>

<% @restaurants.each do |restaurant| %>
<p><%= image_tag restaurant.photo, {size: "320"} %></p>
<h2> <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></h2>
<p> Capacity: <%= restaurant.capacity %> </p><br/>
<% end %>
